body {
  background: #eee;
}

#container {
  background: white;
  border: 1px solid black;
  margin: 0 auto;
  padding: 1rem;
  width: 60rem;
}

h1 {
  text-align: center;
}

#vue {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.subreddit {
  width: 33%;
}

.posts {
  list-style: none;
  padding: 0;
}

.post {
  display: flex;
}

.post .image {
  min-width: 60px;
}

.post img {
  max-width: 50px;
}

.post .title p {
  margin-top: 0;
  margin-right: 8px;
}

.post a {
  color: #2575f7;
  text-decoration: none;
}
